
{% extends 'navbar.html' %}
{% block content %}
<form action="readdata" method="post">
    {% csrf_token %}
    <h2 align="center">index page</h2>
    <table align="center">
        <tr>
            <td>Name:</td>
            <td><input type="text" name="ntxt"></td>
        </tr>
         <tr>
            <td>Age:</td>
            <td><input type="number" name="atxt"></td>
        </tr>
         <tr>
            <td>Course:</td>
            <td>
             <select name="ddlcourse">
                 <option>--select--</option>
                 {% for i in data %}
                     <option>{{ i.course_name }}</option>
                 {% endfor %}

             </select>
            </td>

        </tr>

    <tr>
        <td></td>
        <td><input type="submit" value="submit"></td>
    </tr>
    </table>
</form>
{% endblock %}
